:root {
  --main-title-color: #212121;
  --btn-text-color: #2196f3;
  --main-text-color: #757575;
  --main-background-color: #2f303a;
  --second-text-color: #ffffff;
  --color-btn: #ffffff;
  --main-color-icon: #afb1b8;
  --second-background-color: #f5f4fa;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --modal-form-color: rgba(33, 33, 33, 0.2);
}

body {
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-logo-web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--btn-text-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 24px;
  padding-bottom: 25px;
  display: block;
}

.header-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color 250ms var(--timing-function);
}

.header-link:hover,
.header-link:focus {
  color: var(--btn-text-color);
}

.current {
  color: var(--btn-text-color);
  position: relative;
}

.current::after {
  content: '';
  width: 100%;
  height: 4px;
  left: 0;
  top: 76px;
  background: var(--btn-text-color);
  border-radius: 2px;
  position: absolute;
}

.header-mail:hover,
.header-mail:focus {
  color: var(--btn-text-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--btn-text-color);
}

.header-list {
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-logo {
  margin-right: 93px;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-mail {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color 250ms var(--timing-function);
}

.header-social-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-tel {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color 250ms var(--timing-function);
}

.hero-container {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-container {
  background-color: var(--main-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imagies/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-text-color);
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-btn);
  background-color: var(--btn-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
}

.hero-btn {
  display: block;
  margin: 0 auto;
}

.features {
  padding-top: 94px;
}

.features-list {
  display: flex;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 10px;
}

.features-paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.features-div-icon {
  background-color: var(--second-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  padding-bottom: 94px;
  padding-top: 94px;
}

.gallery-title {
  margin-bottom: 50px;
}

.gallery-list {
  display: flex;
}

.gallery-item:not(:last-child) {
  margin-right: 30px;
}

.gallery-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.gallery-item {
  position: relative;
}

.gallery-text {
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.masters {
  background-color: var(--second-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.masters-list {
  display: flex;
}

.masters-item:not(:last-child) {
  margin-right: 30px;
}

.masters-lead {
  margin-bottom: 10px;
}

.masters-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.masters-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
}

.masters-lead {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.masters-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

.div-masters {
  padding-bottom: 30px;
  padding-top: 30px;
}

.masters-social-list {
  display: flex;
  justify-content: center;
}

.masters-social-item {
  width: 44px;
  height: 44px;
}

.masters-social-item + .masters-social-item {
  margin-left: 10px;
}

.masters-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color-icon);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}

.masters-social-icon {
  fill: currentColor;
}

.masters-social-link:hover,
.masters-social-link:focus {
  background-color: var(--btn-text-color);
  color: var(--color-btn);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.clients-list {
  display: flex;
  margin-top: 50px;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-item + .clients-item {
  margin-left: 30px;
}

.clients-link {
  color: var(--main-color-icon);
  border: 1px solid var(--main-color-icon);
  border-radius: 4px;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: color 250ms var(--timing-function), border 250ms var(--timing-function);
}

.clients-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--btn-text-color);
  border: 1px solid var(--btn-text-color);
}
/*# sourceMappingURL=main.css.map */